.card-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    margin-top: .5em;
}

.element-card-header {
    margin-bottom: 20px;
    background-color: gray;
    color: whitesmoke;
    width: 100%;
    margin-top: 20px;
}

.header-editor {
    font-size: 20px;
    height: 25px;
    max-height: 75px;
    resize: vertical;
    width: 1100px;
    min-width: 1100px;
    max-width: 1100px;    
}

.element-card {
    background-color: white;
}

.editor-header {
    font-size: 20px;
    color: #0F0F0F;
    font-weight: bold;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    margin-top: 20px;
}

.element-card:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.element-card-header:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.save-button {
    margin-top: 15px;
    float: right;
}

.title-input {
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
    margin-bottom: 15px;
    font-size: 30px;
    height: 40px;
    width: 100%;
}

.editor {
    margin-top: 20px;
}

.editor-container {
    min-width: 1140px;
}
