<div>
  <md-card class="element-card-header">
      <md-card-title class="card-title">Header:</md-card-title>
      <md-card-content>
          <p></p>
          <textarea class="header-editor"></textarea>
      </md-card-content>
      <button md-raised-button color="primary">Save</button>
  </md-card>
  <md-card class="element-card">
      <md-card-title class="card-title">Paragraph:</md-card-title>
      <md-card-content>
          <p></p>
          <div [froalaEditor]></div>
      </md-card-content>
      <button md-raised-button color="primary">Save</button>
  </md-card>
</div>