.report-card {
    background-color: orange;
    color: #242323;
    width: 200px;
    margin: auto;
    overflow: auto;
    word-wrap: break-word;
    display: inline-block;
    margin-right:15px;
}

.report-card:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.card-header {
    font-size: 16px;
    border: 0;
    outline: 0;
    background: transparent;
    color: #000000;
    margin-bottom: 10px;
    width: 100%;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    overflow: hidden;
    height: 15px;
}

.card-header-id {
    font-size: 12px;
}

.add-card {
    background-color: white;
    width: 200px;
    margin: auto;
    overflow: auto;
    display: inline-block;
    margin-right:15px;
}

.top-panel {
    float: top;
    overflow: auto;
    height: auto;
    margin-left: 20px;
}

.button-combo {
    margin-top: 5px;
    margin-bottom: 5px;
}

.before-editing {
    font-size: 20px;
    color: #2422B3;
    font-weight: bold;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}